<div class="row pt-5">
  <div class="col-md-12">
    <div class="card mt-4">
      <div class="card-header">
        <h1># {{ article.votes }}</h1>
        <h6>Points</h6>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-6">
            <h3> {{ article. title }} </h3>
            <a href="{{ article.link }}" target="_blank"> {{ article.link }} </a>
          </div>
          <div class="col-md-6">
            <ul>
              <li><a href="#" (click)="voteUp()">voteUp</a></li>
              <li><a href="#" (click)="voteDown()">voteDown</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
