/* You can add global styles to this file, and also import other style files */
body {
    background: #44A0BD;
    background: -webkit-linear-gradient(to right, #093637, #44A0BD );
    background: linear-gradient(to right, #093637, #44A0BD);
    padding: 30px;
}